---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
import { Image } from "astro:images";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Instagram",
    icon: "frameworks/instagram",
    url: "https://instagram.com/kalimero_666/",
  },
  {
    title: "Facebook",
    icon: "frameworks/facebook",
    url: "https://facebook.com/kalimerox19/",
  },
  {
    title: "Youtube",
    icon: "frameworks/youtube",
    url: "https://www.youtube.com/@kalimero_Von_Bulow/",
  },
  {
    title: "Pixelfed",
    icon: "frameworks/pixelfed",
    url: "https://metapixl.com/kalimero",
  },
  {
    title: "Peertube",
    icon: "frameworks/peertube",
    url: "https://dalek.zone/a/kalimero_666/video-channels",
  },
  {
    title: "Mastodon",
    icon: "frameworks/mastodon",
    url: "https://talk.artsculture.media/@kalimero",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Ko-Fi",
    icon: "platforms/kofi",
    url: "https://ko-fi.com/kalimero_666/",
  },
  {
    title: "Ghost",
    icon: "platforms/ghost",
    url: "https://rockghostsrock.digitalpress.blog/",
  },
 {
    title: "Patreon",
    icon: "fa-brands:patreon",
    url: "https://patreon.com/Kalimero666/",
  },
  {
    title: "Tipeee",
    icon: "platforms/tipeee",
    url: "https://tipeee.com/kalimero/",
  },
  {
    title: "My Shop",
    icon: "platforms/shop",
    url: "https://bookomatic.hstn.me/",
  },
  {
    title: "Goodies",
    icon: "platforms/spreadshop",
    url: "https://kalimero.spreadshop.fr",
  },
];
---
</ContentSection>

<ContentSection title="" id="compatibility">
<a href='https://ko-fi.com/L4L463Q3N' target='_blank'><img height='40' style='border:0px;height:40px;' src='https://storage.ko-fi.com/cdn/kofi4.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
<ContentSection title="From Hell, With Love" id="compatibility">
  <Fragment slot="lead">
    For that <span class="text-primary"> behaviour</span> I've spent a few<span
      class="text-primary"
    >
      Seasons</span
    > in Hell, stepped <span class="text-primary"> across</span>  the border,
    back on Earth at summer 21 as a
    <span class="text-primary"> born-dead</span>
    tweety.
  </Fragment>

      <Fragment></Fragment>
      <ul>
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/reel/Cq83yqEuiSV/? target="_blank">Une publication partagée par KaliMero Von BülOw (@kalimero_666)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
      </ul>

      <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('kalimero_666', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Tip Me',
    'floating-chat.donateButton.background-color': '#ff38b8',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>

<ContentSection title="Ecce Kalimero" id="compatibility">
  <Fragment slot="lead">

  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="So-call SOCIALS"
   url="https://linktr.ee/kalimero"
  />    <span class="text-primary"> My nickname is</span> @kalimero_666
 <span
      class="text-primary"
    > I am</span> Kalimero Von Bülow

  <CompatibilityList
    items={platforms}
    title="e-CONOMIX"
    url="https://linktr.ee/kalimero"
  />
    </ContentSection>
  </Fragment>

</ContentSection>
