---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
import { Image } from "astro:images";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Instagram",
    icon: "frameworks/instagram",
    url: "https://reactjs.org/",
  },
  {
    title: "Facebook",
    icon: "frameworks/facebook",
    url: "https://facebook.com/kalimerox19",
  },
  {
    title: "Youtube",
    icon: "frameworks/youtube",
    url: "https://svelte.dev/",
  },
  {
    title: "Pixelfed",
    icon: "frameworks/pixelfed",
    url: "https://vuejs.org/",
  },
  {
    title: "Peertube",
    icon: "frameworks/peertube",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Mastodon",
    icon: "frameworks/mastodon",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Ko-Fi",
    icon: "platforms/kofi",
    url: "https://www.netlify.com/",
  },
  {
    title: "Ghost",
    icon: "platforms/ghost",
    url: "https://vercel.com/",
  },
  {
    title: "Tipeee",
    icon: "platforms/tipeee",
    url: "https://render.com/",
  },
  {
    title: "Patreon",
    icon: "fa-brands:patreon",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Goodies",
    icon: "platforms/spreadshop",
    url: "https://pages.github.com/",
  },
  {
    title: "Book-O-Matics",
    icon: "platforms/shop",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---
</ContentSection>



<ContentSection title="From Hell with Love" id="compatibility">
  <Fragment slot="lead">
    For I acted so <span class="text-primary"> I've spent</span> many <span
      class="text-primary"
    >
      Seasons</span
    > in Hell, stepped <span class="text-primary"> across the border</span>,
    when Back on Earth at summer 21 was
    <span class="text-primary">a born dead</span>
    tweety named <span class="text-primary"> @kalimero_666</span> aka <span
      class="text-primary"
    >
      Kalimero Von Bülow</span
    >.
  </Fragment>

      <Fragment></Fragment>
      <ul>
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/reel/Cq83yqEuiSV/? target="_blank">Une publication partagée par KaliMero Von BülOw (@kalimero_666)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
      </ul>


<ContentSection title="Ecce Kalimero" id="compatibility">
  <Fragment slot="lead">

  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="So-call SOCIALS"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="e-CONOMIX"
    url="https://linktr.ee/kalimero"
  />
    </ContentSection>
  </Fragment>
</ContentSection>
