---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";
import { Image } from "astro:images";
import { Icon } from "astro-icon";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Instagram",
    icon: "frameworks/instagram",
    url: "https://instagram.com/kalimero_666/",
  },
  {
    title: "Facebook",
    icon: "frameworks/facebook",
    url: "https://facebook.com/kalimerox19/",
  },
  {
    title: "Youtube",
    icon: "frameworks/youtube",
    url: "https://www.youtube.com/@kalimero_Von_Bulow/",
  },
  {
    title: "Pixelfed",
    icon: "frameworks/pixelfed",
    url: "https://metapixl.com/kalimero",
  },
  {
    title: "Peertube",
    icon: "frameworks/peertube",
    url: "https://dalek.zone/a/kalimero_666/video-channels",
  },
  {
    title: "Mastodon",
    icon: "frameworks/mastodon",
    url: "https://talk.artsculture.media/@kalimero",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Ko-Fi",
    icon: "platforms/kofi",
    url: "https://ko-fi.com/kalimero_666/",
  },
  {
    title: "Opensea",
    icon: "platforms/opensea",
    url: "https://opensea.io/kalimero_666/",
  },
 {
    title: "Patreon",
    icon: "platforms/patreon",
    url: "https://patreon.com/Kalimero666/",
  },
  {
    title: "Tipeee",
    icon: "platforms/tipeee",
    url: "https://tipeee.com/kalimero/",
  },
  {
    title: "My Shop",
    icon: "platforms/shop",
    url: "https://bookomatic.hstn.me/",
  },
  {
    title: "Goodies",
    icon: "platforms/spreadshop",
    url: "https://kalimero.spreadshop.fr",
  },
];
---
</ContentSection>

<ContentSection title="" id="compatibility">


<ContentSection title="From Hell, With Love" id="compatibility">
  <Fragment slot="lead">
    With that <span class="text-primary"> behaviour</span> I've spent a few<span
      class="text-primary"
    >
      Seasons</span
    > in Hell, stepped <span class="text-primary"> across</span>  the border,
    came back on Earth @ summer 21
    <span class="text-primary"> born-dead</span>
    tweety.
  </Fragment>


      <Fragment></Fragment>




 <img src="src/icons/shop.svg" alt="Texte alternatif" width="300" height="200" title="Image cool" style="border: 1px">


<ContentSection title="Ecce Kalimero" id="compatibility">
  <Fragment slot="lead">

  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="SOCIALS"
   url="https://linktr.ee/kalimero"
  />    <span class="text-primary"> My nickname is</span> @kalimero_666
 <span
      class="text-primary"
    > I am</span> Kalimero Von Bülow

  <CompatibilityList
    items={platforms}
    title="e-CONOMIX"
    url="https://linktr.ee/kalimero"
  />
    </ContentSection>
  </Fragment>
<a href='https://rockghostsrock.digitalpress.blog' target='_blank'><img height='100' style='border:0px;height:100px;' src='src/icons/rgr.webp' border='0' alt='Visit my Ghost blog at digitalpress.blog' /></a>
</ContentSection>
