

---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import { YouTube } from "@astro-community/astro-embed-youtube";
import ContentSection from "~/components/content-section.astro";

const features: Array<FeatureItem> = [];
---

<ContentSection title="Picaboo" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Since</span> I got my degree at the famous <span
      class="text-primary"
    >
      ERG</span
    >, Ecole de Recherche Graphique in <span class="text-primary">
      Brüsel</span
    >, also had to deal with <span class="text-primary"> ADHD</span>, I spent my
    life
    <span class="text-primary"> trying</span> things.
  </Fragment>
  <ul></ul>

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-a016ca7e-769b-4b42-ae3c-181b34b9836d"></div>

</ContentSection>
  <ContentSection title="" id="features">
    <Fragment>
      <span class="text-primary"
        >"Everything I learned in my life, I've learned it because I decided to
        try something new"</span
      > (David Lynch)
    </Fragment>
    <ul></ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6dY0hojRI3U?si=Tbf472hm7pJbIb_e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>




