---
import { Icon } from "astro-icon";
import { YouTube } from "@astro-community/astro-embed-youtube";
import ContentSection from "~/components/content-section.astro";

const features: Array<FeatureItem> = [];
---

<ContentSection title="Picaboo" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Since</span> I got my degree at the famous <span
      class="text-primary"
    >
      ERG</span
    >, Ecole de Recherche Graphique in <span class="text-primary">
      Brüsel</span
    >, also had to deal with <span class="text-primary"> ADHD</span>, I spent my
    life
    <span class="text-primary"> trying</span> new things.
  </Fragment>
  <ul></ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Nzu5y22a8Zk?si=9PQjyeMMIh23cjz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</ContentSection>

<head>
  <title>Picaboo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
  <ContentSection title="" id="features">
    <Fragment>
      <span class="text-primary"
        >"Everything I learned in my life, I've learned it because I decided to
        try something new"</span
      > (David Lynch)
    </Fragment>
    <ul></ul>
</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1></h1>
				<nav>
					<ul>
					</ul>
				</nav>
			</header>

			
					</header>

					<!-- Gallery  -->
					<div class="gallery">
						<article class="from-left">
							<a href="images/fulls/01.jpg" class="image fit">
								<img src="images/thumbs/01.jpg" title="" alt="" />
							</a>
						</article>
						<article class="from-right">
							<a href="images/fulls/03.jpg" class="image fit">
								<img src="images/thumbs/03.jpg" title="" alt="" />
							</a>
						</article>
						<article class="from-left">
							<a href="images/fulls/04.jpg" class="image fit">
								<img src="images/thumbs/04.jpg" title="" alt="" />
							</a>
						</article>
					</div>

				</div>
			</section>



	</body>
