import { defineConfig } from "astro/config";
import compress from "astro-compress";
import preload from "astro-preload";

export default defineConfig({
  integrations: [preload(), compress()]
});
---
import { Icon } from "astro-icon";
import { YouTube } from "@astro-community/astro-embed-youtube";
import ContentSection from "~/components/content-section.astro";

const features: Array<FeatureItem> = [];
---

<ContentSection title="Picaboo" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Since</span> I got my degree at the famous <span
      class="text-primary"
    >
      ERG</span
    >, Ecole de Recherche Graphique in <span class="text-primary">
      Brüsel</span
    >, also had to deal with <span class="text-primary"> ADHD</span>, I spent my
    life
    <span class="text-primary"> trying</span> new things.
  </Fragment>
  <ul></ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Nzu5y22a8Zk?si=9PQjyeMMIh23cjz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</ContentSection>

 
  <ContentSection title="" id="features">
    <Fragment>
      <span class="text-primary"
        >"Everything I learned in my life, I've learned it because I decided to
        try something new"</span
      > (David Lynch)
    </Fragment>
    <ul></ul>

---
import { Image } from "src/images";
---
<!-- Automatically fetches and downloads image -->
<Image url="https://https://picaboo.netlify.app/images/fulls/01.jpg" />

	
		
