---
import { Picture } from "astro:assets";
/components
import ContentSection from "~/components/content-section.astro";
import InstagramCarousel from "~/components/instagram-carousel.astro";


const features: Array<FeatureItem> = [];
---

<ContentSection title="Picaboo" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Since</span> I got my degree at the famous <span
      class="text-primary"
    >
      ERG</span
    >, Ecole de Recherche Graphique in <span class="text-primary">
      Brüsel</span
    >, also had to deal with <span class="text-primary"> ADHD</span>, I spent my
    life
    <span class="text-primary"> trying</span> things.
  </Fragment>
  
  <!-- Instagram Carousel -->
<InstagramCarousel />
</ContentSection>

<style>
  .instagram-feed-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Responsive adjustments */
  @media (min-width: 768px) {
    .instagram-feed-container {
      max-width: 90%;
    }
  }
  
  @media (min-width: 1024px) {
    .instagram-feed-container {
      max-width: 85%;
    }
  }
</style>

<ContentSection title="" id="features">
    <Fragment>
      <span class="text-primary"
        >"Everything I learned in my life, I've learned it because I decided to
        try something new"</span
      > (David Lynch)
    </Fragment>

    <!-- Peertube Video -->
    <div class="video-container my-8">
      <iframe 
        title="Kalimero Contre Kalimero" 
        src="https://dalek.zone/videos/embed/04e164c9-0f8d-482f-81f3-783cc10ae833" 
        frameborder="0" 
        allowfullscreen 
        sandbox="allow-same-origin allow-scripts allow-popups"
        class="video-iframe"
      ></iframe>
    </div>
</ContentSection>

<style>
  .video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
