---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";


const links: Array<FooterLink> = [

  {
    url: "https://www.kalimero.rocks",
    description: "Kalimero's official website",
    icon: "mdi:home",
  },
   {
    url: "https://instagram.com/kalimero_____666/",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://github.com/kalimerO666/",
    description: "Github",
    icon: "fa-brands:github",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>


  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>

</footer>

