---
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Kalimero is <span class="text-primary">versatile</span>...{" "}
    So be my guesss, feel <span class="text-primary"> free</span>, exxxplore my {
      " "
    }
    <span class="text-primary">Whiteborrred Jungle</span> which is a work <span class="text-primary">in progress</span> !
  </Fragment>
  <a href='https://ko-fi.com/L4L463Q3N' target='_blank'><img height='60' style='border:0px;height:60px;' src='https://storage.ko-fi.com/cdn/kofi4.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
  
  <div class="max-w-6xl space-y-2">
    <a href="https://fr.tipeee.com/kalimero" class="tipeee-project-small">Soutenez KaliMero sur Tipeee</a>
    <script async src="https://plugin.tipeee.com/widget.js" charset="utf-8"></script>
  </div>

</ContentSection>